In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import researchpy as rp
import scipy.stats as stats
from datetime import datetime

df_property_1 = pd.read_csv("cleaned1_property_sales.csv")

C:\Users\jahli\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df_property_1[["PRICE", "PROPERTYCITY"]].groupby("PROPERTYCITY").describe()

               PRICE                                                     \
               count           mean            std       min        25%
PROPERTYCITY
ALLISON PARK  4828.0  190789.598234  239543.214139       0.0       1.00
AMBRIDGE       226.0   60345.964602   62735.115313       0.0       1.00
ASPINWALL        2.0  226505.500000   65910.130181  179900.0  203202.75
BADEN          201.0  365204.870647  488304.534348       0.0       1.00
BAIRDFORD       83.0   54289.349398   56398.264136       0.0    1762.00
...              ...            ...            ...       ...        ...
WEST VIEW        1.0       1.000000            NaN       1.0       1.00
WEXFORD       6270.0  341020.960848  887984.357268       0.0  134600.00
WHITE OAK        1.0       1.000000            NaN       1.0       1.00
WILMERDING     518.0   52401.478764  255650.493060       0.0      10.00
WITAKER          1.0      10.000000            NaN      10.0      10.00


                   50%        75%         max
PROPERTYCITY
ALLISON PARK  167450.0  265306.50   7950000.0
AMBRIDGE       45000.0  100000.00    259900.0
ASPINWALL     226505.5  249808.25    273111.0
BADEN         189000.0  466070.00   2600000.0
BAIRDFORD      40000.0   85000.00    220000.0
...                ...        ...         ...
WEST VIEW          1.0       1.00         1.0
WEXFORD       278000.0  413292.50  61025000.0
WHITE OAK          1.0       1.00         1.0
WILMERDING     13000.0   42000.00   3100000.0
WITAKER           10.0      10.00        10.0

[98 rows x 8 columns]

In [19]:
df_property_1.groupby("PROPERTYCITY").count()

,Unnamed: 0,PARID,PROPERTYHOUSENUM,PROPERTYFRACTION,PROPERTYADDRESSDIR,PROPERTYADDRESSSTREET,PROPERTYADDRESSSUF,PROPERTYADDRESSUNITDESC,PROPERTYUNITNO,PROPERTYSTATE,...,RECORDDATE,SALEDATE,PRICE,DEEDBOOK,DEEDPAGE,SALECODE,SALEDESC,INSTRTYP,INSTRTYPDESC,PROPERTyCITY
PROPERTYCITY,,,,,,,,,,,,,,,,,,,,,
ALLISON PARK,4828,4828,4828,4828,74,4828,4743,36,42,4828,...,4828,4828,4828,4828,4828,4828,4828,4828,4828,4828
AMBRIDGE,226,226,226,226,0,226,226,0,0,226,...,226,226,226,226,226,226,226,226,226,226
ASPINWALL,2,2,2,2,0,2,2,0,0,2,...,2,2,2,2,2,2,2,2,2,2
BADEN,201,201,201,201,0,201,200,0,0,201,...,201,201,201,201,201,201,201,201,201,201
BAIRDFORD,83,83,83,83,0,83,83,0,0,83,...,83,83,83,83,83,83,83,83,83,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WEST VIEW,1,1,1,1,0,1,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1
WEXFORD,6270,6270,6270,6270,32,6270,6254,2,13,6270,...,6270,6270,6270,6270,6270,6270,6270,6270,6270,6270
WHITE OAK,1,1,1,1,0,1,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1
WILMERDING,518,518,518,518,0,518,518,0,0,518,...,517,518,518,518,518,518,518,518,518,518
WITAKER,1,1,1,1,0,1,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1

In [27]:
df_property_1[["PRICE", "PROPERTYCITY", "SALEDATE"]].groupby(pd.Grouper(freq='Y'))

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [58]:
init_date_1 = datetime(2012, 1, 1)
init_date_2 = datetime(2013, 1, 1)
fin_date_1 = datetime(2020, 1, 1)
fin_date_2 = datetime(2021, 1, 1)
df_property_1["SALEDATE2"] = pd.to_datetime(df_property_1["SALEDATE"])
between_init = (df_property_1["SALEDATE2"] > init_date_1) & (df_property_1["SALEDATE2"] < init_date_2)
between_final = (df_property_1["SALEDATE2"] > fin_date_1) & (df_property_1["SALEDATE2"] < fin_date_2)

In [51]:
df_property_1["SALEDATE2"].sort_values(ascending=True)

29810    2012-01-01
12258    2012-01-01
671      2012-01-01
670      2012-01-01
669      2012-01-01
            ...
255444   2020-11-16
291157   2020-11-16
257246   2020-11-19
295358   2020-11-19
279904   2020-11-23
Name: SALEDATE2, Length: 307756, dtype: datetime64[ns]

In [62]:
df_property_1["PRICE"].loc[between_final].describe()

count    2.697600e+04
mean     2.022352e+05
std      9.046649e+05
min      0.000000e+00
25%      5.000000e+03
50%      1.250000e+05
75%      2.350000e+05
max      1.120000e+08
Name: PRICE, dtype: float64

In [65]:
df_property_1

,Unnamed: 0,PARID,PROPERTYHOUSENUM,PROPERTYFRACTION,PROPERTYADDRESSDIR,PROPERTYADDRESSSTREET,PROPERTYADDRESSSUF,PROPERTYADDRESSUNITDESC,PROPERTYUNITNO,PROPERTYCITY,...,SALEDATE,PRICE,DEEDBOOK,DEEDPAGE,SALECODE,SALEDESC,INSTRTYP,INSTRTYPDESC,PROPERTyCITY,SALEDATE2
0,0,1075F00108000000,4720.0,,NaN,HIGHPOINT,DR,NaN,NaN,GIBSONIA,...,2012-09-27,120000.0,15020,356.0,3,LOVE AND AFFECTION SALE,DE,DEED,Nan,2012-09-27
1,1,0011A00237000000,0.0,,NaN,LOMBARD,ST,NaN,NaN,PITTSBURGH,...,2015-01-06,1783.0,TR15,2.0,2,CITY TREASURER SALE,TS,TREASURER DEED,Nan,2015-01-06
2,2,0011J00047000000,1903.0,,NaN,FORBES,AVE,NaN,NaN,PITTSBURGH,...,2012-10-26,4643.0,TR13,3.0,2,CITY TREASURER SALE,TS,TREASURER DEED,Nan,2012-10-26
3,3,0113B00029000000,479.0,,NaN,ROOSEVELT,AVE,NaN,NaN,PITTSBURGH,...,2017-03-06,0.0,16739,166.0,3,LOVE AND AFFECTION SALE,CO,CORRECTIVE DEED,Nan,2017-03-06
4,4,0119S00024000000,5418.0,,NaN,CARNEGIE,ST,NaN,NaN,PITTSBURGH,...,2015-02-04,27541.0,TR15,59.0,GV,GOVERNMENT SALE,TS,TREASURER DEED,Nan,2015-02-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307751,307751,0424D00020000000,0.0,,NaN,FREEDOM,LN,NaN,NaN,SEWICKLEY,...,2019-05-30,1.0,17660,225.0,H,MULTI-PARCEL SALE,DE,DEED,Nan,2019-05-30
307752,307752,0115B00050000000,466.0,,NaN,WABANA,ST,NaN,NaN,PITTSBURGH,...,2019-05-10,160000.0,17625,482.0,9,OTHER INVALID SALES INDICATED,DE,DEED,Nan,2019-05-10
307753,307753,0028P00027000000,300.0,,NaN,CRAFT,AVE,NaN,NaN,PITTSBURGH,...,2019-05-22,4350000.0,17624,408.0,H,MULTI-PARCEL SALE,DE,DEED,Nan,2019-05-22
307754,307754,0613B00301000000,1230.0,,NaN,BINGAY,DR,NaN,NaN,PITTSBURGH,...,2019-05-15,229000.0,17624,426.0,9,OTHER INVALID SALES INDICATED,DE,DEED,Nan,2019-05-15
307755,307755,0383B00358000000,901.0,,NaN,LYSLE,AVE,NaN,NaN,MC KEESPORT,...,2019-04-04,95000.0,17580,255.0,0,VALID SALE,GW,GENERAL WARRANTY,Nan,2019-04-04